<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>todobdd</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="styles/vendor.css">

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>
  </head>
  <body>

  <form id="itemInput">
    <input id="text" placeholder="Input Item" value=""/>
    <input type="button" id="inputClick" value="submit"/>
  </form>

  <ul id="addList"></ul>


  <script type="text/template" id="todoTemp">
      <li id="<%= id %>" class="<%= status %>"><%= item %></li>
    </script>



    <script src="scripts/vendor.js"></script>
     
        <script src="scripts/main.js"></script>
</body>
</html>
